em {
    color: red;
}

mark {
    background-color: blueviolet;
    color: yellow;
    font-family: "Courier New", Courier, monospace;
}

strong {
    border-style: dotted;
    border-color: red;
    border-radius: 5px;
}

u {
    font-size: 1.2em ;
}

q {
    color: white;
    background-image: url("https://cf.ltkcdn.net/feng-shui/images/std/238894-425x200-chinese-dragon-1.jpg");
    background-size: contain;
    font-family: cursive;
}

p {
    font-family: Arial, Helvetica, sans-serif;

}